{% extends 'base.html.twig' %}

{% block title %}Qui sommes-nous ?{% endblock %}

{% block body %}
<style>
    .carousel {
        width: 90%;
        height: 300px;
        margin: 0 auto;
        border-radius: 15px;
        overflow: hidden;
        margin-top: 20px;
    }
    .carousel-inner img {
        height: 500px;
        object-fit: cover;
    }

    .carousel-item {
        height: 100%;
    }

    .carousel-caption {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.4); /* Optional: adds a semi-transparent background */
        padding: 10px;
        border-radius: 10px;
        width: 100%; /* Adjust the width of the caption */
        height: 100%; /* Adjust the height of the caption */
        font-size: 1.2em; /* Adjust the font size of the caption */
    }
    
    .carousel-item {
        transition: transform 0.7s ease, opacity 0.8s ease; /* Adjust transition duration */
    }

    #quiSommesNous{
        font-size: 35px;
        font-weight: bold;
        color: white;
    }

    #container {
        width: 90%;
        margin: auto;
        overflow: hidden;
        margin-top: 20px;
    }
    .content {
        background: transparent;
        padding: 20px;
        margin: 20px 0;
        /* border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    }
    h1 {
        color: #333;
    }
    h2 {
        color: #555;
    }
    p {
        margin: 10px 0;
    }
    .highlight {
        color: rgb(9, 71, 113);
        font-weight: bold;
    }
</style>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="4000">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="{{ asset('images/baner/quiSommesNous.webp') }}" alt="First slide">
            <div class="carousel-caption">
                <h5 id="quiSommesNous" >Qui sommes-nous ?</h5>
            </div>
        </div>
    </div>
</div>
<div id="container">
        <div class="content">
            <h1>Qui sommes-nous ?</h1><br>
                <p>À votre service depuis 2017, <span class="highlight">D'panne Phones</span> est spécialisé dans la réparation de tous types de smartphones, tablettes et ordinateurs.</p><br>
                <p>Notre atelier technique vous propose maintenant une gamme de téléphones d'occasion et reconditionnés. N’hésitez pas à nous contacter au <span class="highlight">07 83 74 83 11</span> pour connaître nos modèles disponibles, voire nous demander une référence particulière.</p><br>
                <p>Dans notre magasin (ouvert du lundi au samedi de 9h à 18h00), <span class="highlight">D'panne Phones</span> vous propose un vaste choix de <span class="highlight">réparations</span> pour les appareils Apple (iPhone, iPad, iPod), Samsung (smartphones, Galaxy Tab), Nokia, OPPO, Realme, Crosscall, Sony, HTC, LG, Huawei, Honor, Motorola, Alcatel, Xiaomi et Wiko. Les temps de réparation varient de 30 minutes à 5 heures en fonction de la réparation, aux prix les plus attractifs du marché.</p><br>


                <p>Chez <span class="highlight">D'panne Phones</span>, nous vous offrons la possibilité de confectionner un <span class="highlight">PC Gamer</span> unique, conçu selon vos envies et besoins spécifiques. Nos experts sélectionnent pour vous les meilleurs composants du marché, garantissant des performances optimales et une durabilité exceptionnelle. Que vous soyez un joueur occasionnel ou un hardcore gamer, nous avons la configuration idéale pour vous.</p><br>

                <p>Nous travaillons avec les plus grandes marques, incluant des <span class="highlight">processeurs Intel et AMD</span>, des cartes graphiques NVIDIA et AMD Radeon, de la mémoire RAM DDR4 et DDR5, et des disques SSD ultra-rapides. Vous pouvez également personnaliser le design de votre boîtier et choisir un système de refroidissement adapté, qu’il soit à air ou liquide.</p><br>
                <p>Nos techniciens qualifiés assemblent chaque PC avec une précision méticuleuse et procèdent à des tests rigoureux pour garantir une performance sans faille. Nous nous adaptons à tous les budgets, en vous proposant des solutions allant de configurations économiques à des <span class="highlight">machines haut de gamme</span> pour les passionnés de jeux vidéo.</p><br>

                <p>N’hésitez pas à nous contacter au <span class="highlight">07 83 74 83 11</span> pour discuter de votre projet de PC Gamer et obtenir un <span class="highlight">devis personnalisé</span>. Venez nous rendre visite dans notre boutique à Pelissane pour découvrir nos offres et bénéficier de conseils d'experts.</p><br>

                <p>Nous proposons également une large gamme d’accessoires, de téléphones reconditionnés et d'ordinateurs disponibles par achat en ligne sur ce site, ou directement dans notre boutique située à <span class="highlight">Pelissane</span>.</p>
                <p>Toutes nos réparations sont <span class="highlight">garanties 6 mois</span> pièces et main d’œuvre hors casse.</p>
        </div>
    </div>

{% endblock %}
